.header__lang-link {
  height: 28px;
  line-height: 1.17;
  color: #FFFFFF;
  text-decoration-line: underline;
  margin-right: 18px;
  Font-Family: 'Inter';
  font-size: 24px;
}

.header__lang-link:last-of-type {
  text-decoration-line: none;
  margin-right: 0px;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;;
  }
}