.photo-grid {
    max-width: 1184px;
    width: 100%;
    margin: 92px auto;
}


@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
    }
}


@media screen and (max-width: 768px) {
    .photo-grid {
     max-width: 720px;
    }
}


@media screen and (max-width: 425px) {
    .photo-grid {
        margin: 0 auto;
        margin-top: 64px;
        max-width: 425px;
    }
}


@media screen and (max-width: 320px) {
    .photo-grid {
    max-width: 320px;
    }
}