.cover__subtitle {
position: relative;
max-width: 360px;
font-Style: normal;
font-Size: 18px;
line-Height: 1.22;
text-align: Center;
vertical-Align: Top;
color: #FFFFFF;
margin-top: 32px;
z-index: 1;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    width: 100%;
    margin: 16px;
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 16px;
  }
}