.cover__subtitle {
position: relative;
 font-family: 'Inter', Arial, sans-serif;
max-width: 360px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.22;
text-align: center;
color: #FFFFFF;
margin-top: 32px;
z-index: 1;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    width: 100%;
    margin: 16px;
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 16px;
  }
}