.header {
  max-width: 1184px;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  padding: 0px;
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 28px 48px 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 28px 24px 48px 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 16px 16px 48px 16px;
  }
}