.lead__title {
  max-width: 690px;
  width: 90vw;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    min-height: 88px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 650px) {
  .lead__title {
   font-size: 60px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 380px;
    font-size: 45px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;

  }
}


