.place__paragraph {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height:29px;
  text-align: left;
  margin: 0px;
}

.place__paragraph:first-child {
  margin-bottom: 24px;
}
.place__paragraph:last-child {
  margin-bottom: 0px;
}


@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}