.intro__text {
  width: 100%;
  min-height: 209px;
  margin-top: 40px;
  margin-bottom: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 650px) {
  .intro__text {
    max-width: 600px;
    width: 90%;
    min-height: 300px;
  }
}



@media screen and (max-width: 425px) {
  .intro__text {
    max-width: 380px;
    min-height: 522px;
  }
}


@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
    min-height: 522px;
  }
}
