.intro {
font-family: 'Inter', Arial, sans-serif;
width: 690px;
display: flex;
flex-direction: column;
margin-left: 148px;
}



@media screen and (max-width:768px) {
  .intro {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: 380px;
    min-height: 200px;
  }
}
