.intro {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: start;
}

@media screen and (min-width:1024px) {
  .intro {
    margin: auto;
    margin-top: 92px;
  }
}

@media screen and (max-width:1024px) {
  .intro {
    max-width: 690px;
     margin: 92px 286px 0px 48px;
  }
}


@media screen and (max-width:768px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px 0px 24px;
  }
}
@media screen and (max-width:750px) {
  .intro {
    max-width: 94%;
    margin: 88px 3%;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: 288px;
    min-height: 200px;
    margin: 64px 16px 0px 16px;
  }
}