.lead__subtitle {
  width: 640px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 709px) {
  .lead__subtitle {
    max-width: 375px;
    font-size: 18px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
  }
}