.cover {
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  margin-top: 92px;
  width: 1184px;
  height: 740px;
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 230px;
  }
}