.cover {
  margin: 0 auto;
  margin-top: 92px;
  width: 1184px;
  height: 740px;
}

@media screen and (max-width: 425px) {
  .cover {
    max-width: 100vw;
    min-height: 100vh;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 230px;
  }
}