.cover__background {
margin-top: 92px;
position: relative;
max-width: 1184px;
min-height: 740px;
height: auto;
width: 100%;
box-sizing: border-box;
background-image: url(../../../images/cover-trains.jpg);
background-size: cover;
background-repeat: no-repeat;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-decoration: none;
 }

.cover__background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .cover__background {
    max-width: 1200px;
    min-height: 800px;
  }
}


@media screen and (max-width: 1024px) {
  .cover__background {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 834px) {
  .cover__background {
    max-width: 834px;
    min-height:610px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 600px) {
  .cover__background {
    max-width: 600px;
    min-height: 390px;
  }
}

@media screen and (max-width: 414px) {
  .cover__background {
    max-width: 414px;
    min-height: 290px;
  }
}

@media screen and (max-width: 384px) {
  .cover__background {
    max-width: 384px;
    min-height: 220px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
  max-width: 320px;
  min-height: 200px;
  }
}