.place {
   font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  max-width: 984px;
  width: 100%;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
  "place__title place__website"
  "place__image place__paragraph";
  justify-content: center;
  column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    column-gap: 32px;
    grid-template-columns: 440px 1fr
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
     column-gap: 28px;
     grid-template-columns: 340px 1fr

  }
}

@media screen and (max-width: 709px) {
  .place {
    max-width: 100%;
    grid-template-areas:
      ". place__title ."
      ". place__image ."
      ". place__paragraph .";
    column-gap: 0px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}