.footer {
  width: 100%;
  max-width: 1184px;
  margin: 92px auto 24px auto;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}



@media screen and (max-width: 709px) {
  .footer {
    width: 100%;
    margin: 0px;
    max-width: 186px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
