.intro__title {
  width: 100%;
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: inherit;
  margin: 0;
  margin-top: 92px;
}

@media screen and (max-width: 650px) {
  .intro__title {
    font-size: 40px;
  }
}


@media screen and (max-width: 425px) {
  .intro__title {
    max-width: 320px;
    font-size: 34px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}


